.App {
  margin: 0 auto;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  text-align: center;
}

.navbar .navbar-brand {
  color: #b6545c;
}

.footer {
  font-size: 12px;
  text-align: center;
  background-color: white;
  padding: 10px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CUSTOM STYLING */ 
.btn-custom {
  background-color: #b6545c;
  color: #F4F7F7;
  width: 100px;
}

.btn-custom:hover {
  background-color: rgba(182, 84, 92, 0.85);
  color: #F4F7F7;
}

.btn-outline-success {
  border-color: #6c9454;
  color: #6c9454;
  background-color: white;
}

.btn-outline-success:hover { 
  background-color: #6c9454;	
}



body {
  background-image: url(images/triangle-mosaic.png);
}


/* HOME PAGE */

.jumbotron {
  background: none;
  margin-top: 100px;
  text-align: center;
}

.card-deck {
  margin: 50px 100px;
  text-align: center;
}

.card-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  border-radius: 15px;
  box-shadow: 10px 10px rgb(47, 41, 70);
  text-align: center;
}

.card .btn-custom {
  color: white;
}

.card .btn-custom:hover {
  color: white;
}

.card a {
  margin: auto 20px;
}


/* LOGIN PAGE */ 
.card-login {
  width: 500px;
  padding: 30px;
  margin: 0 auto;
  float: none; 
  margin-top: 50px; 
  border-radius: 15px;
  box-shadow: 10px 10px rgb(47, 41, 70);
  text-align: center;
}

.card-login h2 {
  color: #2F2946;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin: 2px;
}

.login-buttons button {
  margin-top: 40px;
}

.login-buttons p {
  margin-top: 20px;
}

.login-buttons a {
  color: #A8A8B4;
}

.login-buttons a:hover {
  text-decoration: underline;
}

.login-buttons .btn-custom {
  width: 100px;
}

/* SIGN UP PAGE */

.card-signup {
  width: 600px;
  padding: 30px;
  margin: 0 auto;
  float: none; 
  margin-top: 50px; 
  border-radius: 15px;
  box-shadow: 10px 10px rgb(47, 41, 70);
  text-align: center;
}

.card-signup h2 {
  color: #2F2946;
  font-weight: bold;
}

.card-signup input {
  margin-bottom: 7px;
}

.card-signup button {
  margin-top: 30px;
  width: 100px;
}

/* PRE-SCREEN PAGE */ 
.card-screen {
  width: 900px;
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 100px;
  float: none; 
  margin-top: 30px; 
  border-radius: 15px;
  box-shadow: 10px 10px rgb(47, 41, 70, 0.2);
}

.card-screen h4 {
  text-align: center;
}

#screen-info {
  text-align: center;
}


#screen-title {
  margin: 50px auto 0px auto;
  font-weight: bold;
  text-align: center;
}

.address {
  padding-bottom: 20px;
}

#address-title {
  margin-top: 20px;
}

.card-screen h4 {
  font-weight: bold;
}

.screen p {
  font-weight: bold;
  margin-top: 30px;
}

#screen-p {
  padding-right: 120px;
  padding-left: 120px;
  padding-top: 20px;
}

.screen {
  text-align: left;
  margin-bottom: 20px;
  padding-left: 35px;
  
}

.form-check {
  padding-left: 50px;
}

.card-screen .form-row {
  margin-top: 25px;
}

.address {
  width: 600px;
  margin: 0 auto;
}

#loc-label {
  font-weight: bold;
  padding-top: 30px;
}

.login-buttons {
  text-align: center;
}

